{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <title>Picture</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="subpage_background">
    <div class="navbar">
        <div class="logo"></div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'opencv_image_upload' %}">Bollard Detection</a>
        <a href="{% url 'yolo_image_upload' %}">Bollard Recognition</a>
        <a href="{% url 'bollard_streak' %}" class="active">Bollard Streaks</a>
        <div class="right-icons">
            <a href="https://www.geoguessr.com/user/604c5a52e142340001a0a666" target="_blank" class="profile" ></a>
            <a href="https://discord.com/users/341617659223474198" target="_blank" class="discord"></a>
        </div>
    </div>
    <div class="centered-text">
        <h2>Guess the Bollard!</h2>
        <br>
        <h2 style ="font-size:  medium;">
            <p>Best bollard streak: {{best_streak}}!</p>
        </h2>
        <br>
        <h3 class="red">
        <p>Incorrect Country. The country was {{country}}!</p>
        <p>Your bollard streak ended at {{counter}} countries!</p></p>
        </h3>
        <br>
        <img src="{{data.image_link}}" alt="Image Description" width ="300" height = "200">
        <br>
        <button onclick="redirectToAnotherWebsite()">Restart</button>

        <script>
            function redirectToAnotherWebsite() {
                var newWebsiteURL = '/bollard_streak'; 
                window.location.href = newWebsiteURL;
            }
        </script>
        
    </div>

    


</body>
</html>